<h1>ようこそ Bookers へ！</h1>
<div class="top-1">
	<p class="top-text1">Bookers</p>
	<p class="top-text2">では、さまざまな書籍に関するあなたの意見や</p>
	<p class="top-text3">印象を共有し交換することができます</p>
	<%= link_to "start", books_path %>
</div>